<div class="app-layout">
    <div class="header" style="background-color: lightcoral;">
        <app-header></app-header>
    </div>
    <div class="side" style="background-color: lightgreen;">
        <app-side-bar-user-connected></app-side-bar-user-connected>
    </div>
    <div class="content" style="background-color: lightslategray;">
        <app-play-board></app-play-board>
    </div>
    <!-- <div class="footer" style="background-color: maroon;">
        <app-footer></app-footer>
    </div> -->
</div>