<div style="font-size: 22px;">
    <div>
        <span style="font-weight: bold;">{{userSacrificied.name}}</span>
        était
        <span *ngIf="userSacrificied.role == 'ESCROC'"
            style="color: red; font-weight: bold;">{{userSacrificied.role}}</span>
        <span *ngIf="userSacrificied.role == 'CIVIL'"
            style="color: green; font-weight: bold;">{{userSacrificied.role}}</span>
        avec comme mot secret :
        <span *ngIf="userSacrificied.role == 'ESCROC'"
            style="color: red; font-weight: bold; text-transform: uppercase;">{{userSacrificied.secretWord}}</span>
        <span *ngIf="userSacrificied.role == 'CIVIL'"
            style="color: green; font-weight: bold; text-transform: uppercase;">{{userSacrificied.secretWord}}</span>
    </div>
    <div style="text-align: center;">
        <span class="role-civil">CIVIL : </span>
        <span>{{civilWord}}</span>
    </div>
    <div style="text-align: center;">
        <span class="role-escroc">ESCROC : </span>
        <span>{{escrocWord}}</span>
    </div>
</div>